#header {
    margin-left: 5%;
    margin-right: 5%;
   
    text-align: center;
    font-size: 32px;
    background-color: orange;
    border-radius: 32px;
}

#detailsLink {
    color: yellow;
    text-decoration: none;
}

#detailsDiv {
    display: none;
    justify-content: center;
    max-width: 100%;
}

#detailsImg {
    max-width: 100%;
}

#detailsLinkDiv {
    border-radius: 8px;
    margin-left: 15px;
    display: inline;
    background-color: #3b2f80;
}

button:hover {
    cursor: pointer;
}

#register, #detailsLink {
    margin-top: 10px;
    width: 177px;
    height: 116px;
    font-size: .8em;
    border-radius: 8px;
    background-color: #3b2f80;
    color: yellow;
}

#headerLogo {
    display: flex;
    justify-content: center;
    height: 200px;
}

#logo {
    width: 400px;
}

#flyerDiv,
#flyerImg {
    display: flex;
    justify-content: center;
    max-width: 100%;
}
/*@media screen and (min-width: 450px) {

    #flyerDiv,
    #flyerImg {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }

    #detailsDiv,
    #detailsImg {
        justify-content: center;
        max-width: 100%;
    }
}*/

body {
    margin: 0;
    background-color: #3b2f80;
}

#JotFormIFrame-231155895577166 {
    display: none;
    z-index: 5;
}